<div class="d-flex flex-column">
  <div class="flex-grow-1"></div>
  <footer class="text-center text-white" style="background-color: #f1f1f1">
    <div class="container pt-4">
      <section class="mb-4">
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.facebook.com/harsha.rudrakshala.3/"
          role="button"
          data-mdb-ripple-color="dark"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://x.com/Harsha35106346"
          role="button"
          data-mdb-ripple-color="dark"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/imharshasai/?hl=en"
          role="button"
          data-mdb-ripple-color="dark"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/harsha-sai-rudrakshala-45b003227/"
          role="button"
          data-mdb-ripple-color="dark"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/Harsharudrakshala"
          role="button"
          data-mdb-ripple-color="dark"
        >
          <i class="fab fa-github"></i>
        </a>
      </section>
    </div>
    <div
      class="text-center text-dark p-3"
      style="background-color: rgba(0, 0, 0, 0.2)"
    >
      © 2024 Copyright: FindAStay
    </div>
  </footer>
</div>
