<% layout("./layouts/boilerplate") -%>

<div class="error-container">
  <div class="error-code">404</div>
  <div class="error-message">
    Oops! The page you're looking for doesn't exist.
  </div>
  <div class="error-actions">
    <a href="/places">Go back to the homepage</a>
  </div>
</div>
